.massageBody{
    padding: 150px 120px 50px 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.massagebodyCover{
    width: 100%;
    height: 400px;

    object-fit: cover;
    object-position: center;
}

.massageBody h1{
    margin-top: 40px;
    text-align: center;
    font-family: 'monserat';
}

.massageBody p{
    font-family: 'monserat';
}

.massageBody h2{
    margin-top: 40px;
    text-align: center;
    font-family: 'monserat';
}

.massageBody h4{
    margin-top: 40px;
    text-align: left;
    font-family: 'monserat';
}

.massageBody ul{
    margin-left: 20px;
}

.massageBody li{
    list-style: inside;
}

@media (min-width:1900px) {
    .massageBody{
        padding: 190პხ 350px 50px 350px;
    }

    .massagebodyCover{
        width: 100%;
        height: 500px;
    
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width:769px) {
    .massageBody{
        padding: 120px 20px 50px 20px;
    }
}