.Services{
    box-sizing: border-box;
    width: 100%;
    padding: 170px 0px 80px 0px;
    overflow-x: hidden;
    color:white;
}

.services_inner{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.thirdHeader{
    font-size: 32px;
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
}

.massages{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.firstHalf,
.secondtHalf{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.massageCard{
    display: flex;
    gap: 30px;
}


.massageCardImg{
    height: 300px;
    width: 450px;

    object-fit: cover;
    object-position: center;
    border: 1px solid white;
}

.massageCardDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortDescr{
    width: 400px;
    font-family: 'monserat';
    font-size: 16px;
}

.massageHeader{
    font-family: 'commorant';
    text-transform: capitalize;
}

.massageBTN{
    width: 150px;
    height: 45px;
    
    border: 1px solid white;
    font-family: 'monserat';

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.4s ease;
}



@media (max-width:769px) {

    .massages{
        margin-top: 50px;
    }

    .massageCard{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .massageCardImg{
        height: 200px;
        width: 100%;
    }

    .massageCardDesc{
        gap: 20px;
    }

    .shortDescr{
        width: 100%;
    }
}