.Services{
    box-sizing: border-box;
    width: 100%;
    padding: 170px 120px 80px 120px;
    overflow-x: hidden;
    color:white;
}

.thirdHeader{
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
}

.massages{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.firstHalf,
.secondtHalf{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.massageCard{
    display: flex;
    gap: 30px;
}


.massageCardImg{
    height: 300px;
    width: 450px;

    object-fit: cover;
    object-position: center;
    border: 1px solid #595959;
}

.massageCardDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortDescr{
    width: 400px;
    font-family: 'monserat';
    font-size: 16px;
}

.massageHeader{
    font-family: 'commorant';
}

.massageBTN{
    width: 150px;
    height: 45px;
    
    border: 1px solid white;
    font-family: 'monserat';

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.4s ease;
}


@media (min-width:1900px) {
    .Services{
        box-sizing: border-box;
        width: 100%;
        padding: 170px 350px 80px 350px;
    }
}

@media (max-width:769px) {
    .Services{
        padding-left: 20px;
        padding-right: 20px;
    
    }

    .massages{
        margin-top: 50px;
    }

    .massageCard{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .massageCardImg{
        height: 200px;
        width: 100%;
    }

    .massageCardDesc{
        gap: 20px;
    }

    .shortDescr{
        width: 100%;
    }
}