.Services{
    box-sizing: border-box;
    width: 100%;
    padding: 170px 75px 80px 75px;

}

.thirdHeader{
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
}

.massages{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.firstHalf,
.secondtHalf{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.massageCard{
    display: flex;
    gap: 30px;
}


.massageCardImg{
    height: 300px;
    width: 450px;
}

.massageCardDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortDescr{
    width: 400px;
    font-family: 'monserat';
    font-size: 16px;
}

.massageHeader{
    font-family: 'commorant';
}

.massageBTN{
    width: 150px;
    height: 45px;
    
    border: 1px solid #000;
    font-family: 'monserat';

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.4s ease;
}


@media (min-width:1900px) {
    .Services{
        box-sizing: border-box;
        width: 100%;
        padding: 170px 350px 80px 350px;
    }
}