.faq{
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 80px;
}

.faq_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.faqHeader{
    font-size: 32px;
    color: white;
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
}

