.OurServices{
    padding-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.thirdHeader{
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
}

.serviceBTN{
    width: 150px;
    height: 45px;
    
    border: 1px solid #000000;
    

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.4s ease;
}

.OurServices a{
    margin: 0 auto ;
}

.serviceBTN p{
    font-family: 'monserat';
    color: #000000;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}