.OurServices{
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.OurServices_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.massageSlider{
    padding: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.massageSlider::-webkit-scrollbar {
    height: 0px; /* Set the width of the scroll bar */
    display: none;
  }


.thirdHeader{
    /* color: #242925; */
    font-size: 32px;
    text-align: center;
    font-family: "upright";
    text-transform: uppercase;
    color: white !important;
}

.serviceBTN{
    width: 150px;
    height: 45px;
    
    border: 1px solid white;
    

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: all 0.4s ease;
}

.OurServices a{
    margin: 0 auto ;
}

.serviceBTN p{
    font-family: 'monserat';
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}