.navbar{
    box-sizing: border-box;
    width: 100%;
    height: 90px;

    position: fixed;
    top: 0;
    z-index: 5;

    padding-left: 120px;
    padding-right: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: inherit;

    transition: all 0.4s ease;
}

.logo img{
    width: 120px;
    height: 73px;
}

.whiteBG{
    background-color: #F3F4F2;
    transition: all 0.4s ease;
}

.menu{
    height: 100%;

    display: flex;
    align-items: center;
    gap:60px;
}

.navMenuLinks{
    color: #F3F4F2;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'upright';
    transition: all 0.4 ease;
}

.navLine{
    border: 1px solid #F3F4F2;

    width: calc(100% - 240px);
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.navLineZero{
    opacity: 0;
    transition: all 0.4s ease;
}

.logoP{
    font-size: 20px;
    font-family: "upright";
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
}

.black{
    color: #242925;
    transition: all 0.4 ease;
}

.dashboardLogo{
    font-size: 20px;
    font-family: "upright";
    color: #242925;
    font-weight: 900;
    text-transform: uppercase;
}

.burgerMenu{
    display: none;
}

.dashboard, 
.dashboardActive{
    display: none;
}

.overflowHidden{
    overflow: hidden;
}

@media (min-width:1900px) {
    .navbar{
        padding-left: 350px;
        padding-right: 350px;
    }

    .navLine{
    
        width: calc(100% - 700px);
    }
}

@media (max-width:769px) {
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo img{
        width: 90px;
        height: auto;
    }
    .menu{
        display: none;
    }
    .navLine{
        width: calc(100% - 40px);
    }
    .burgerMenu{
        display: block;
    }
    .burgerMenuIcon{
        width: 30px;
        cursor: pointer;
    }
    .burgerMenuIconDeactive{
        width: 32px;
        cursor: pointer;
        display: none;
    }
    .dashboard{
        width: 80%;
        height: 100%;
        display: block;
        position: fixed;
        z-index: 5;
        left: -80%;
        background-color: #FFF;

        transition: all 0.4s ease;
    }

    .dashboardActive{
        display: block;
        width: 80%;
        left: 0;
        transition: all 0.4s ease;
    }

    .closeIconDiv{
        width: 100%;
        height: 90px;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-right: 20px;
        padding-left: 20px;
    }

    .closeIcon{
        width: 20px;
        cursor: pointer;
    }

    .dashboardLinks, .workingHoursNavbar, .contactUsNavbar{
        color:black;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'monserat';
    }

    .contactUsNavbar p{
        font-family: 'monserat';
        font-size: 18px;
    }
    

    .dashboardLinks{
        font-size: 20px;
    }

    .workingHoursNavbar, .contactUsNavbar{
        padding-left: 20px;
        margin-top: 30px;
    }

    .navContactEmal{
        margin-top: 10px;
    }


    .dashboardMenu{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 20px;
    }
}