.footer{
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 80px 0px 20px 0px;
    color: white !important;
}

.footer_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.footerInner{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
}

.footerHeader{
    font-family: 'monserat';
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
}


.aboutUs,
.contactUs,
.workingHours{
    max-width: 300px;
}


.aboutUs h3,
.contactUs h3,
.workingHours h3
{
    font-family: 'monserat';
    margin-bottom: 20px;
}

.aboutUs p,
.contactUs p,
.workingHours p{
    font-family: 'monserat';
}

.rights{

    font-size: 10px;
    text-align: center;
}


@media (max-width:800px) {
    .footer{
        padding: 50px 0px 20px 0px;
    }

    .footerHeader{
        font-family: 'monserat';
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
    }

    .footerInner{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    
        padding-top: 20px;
    }

    .aboutUs,
    .contactUs,
    .workingHours{
        width: 100%;
        max-width: 100%;
    }

    .aboutUs h3,
    .contactUs h3,
    .workingHours h3
    {
        font-family: 'monserat';
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 19px;
    }

    
}

