*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'commorant';
  src: url('./components/fonts/cormorant.ttf');
}

@font-face {
  font-family: 'monserat';
  src: url('./components/fonts/montserrat.ttf');
}


@font-face {
  font-family: 'upright';
  src: url('./components/fonts/upright.ttf');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

li{
  list-style: none;
}