:root {
  --color: #BFB78F;
  --secondColor: #403D30;
  --text: #535A4C;
}

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'monserat';
  src: url('./components/fonts/montserrat.ttf');
  font-display: swap;
}


@font-face {
  font-family: 'upright';
  src: url('./components/fonts/upright.ttf');
  font-display: swap;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
color:var(--text);
background-color: #A6A6A6;
color: #F2F2F2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: inherit;
  text-decoration: none;
  width: fit-content;
}

li{
  list-style: none;
}